<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID">

    <!-- TODO: 声明应用全局初始化参数, store in class ServletContext -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>applicationContext.xml</param-value>
    </context-param>

    <!-- TODO: 声明监听器，它在建立、修改和删除会话或servlet环境时得到事件通知 -->
    <listener>
        <listener-class>com.minis.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>minisMVC</servlet-name>
        <!-- TODO: 声明 servlet 类名 -->
        <servlet-class>com.minis.web.servlet.DispatcherServlet</servlet-class>

        <!--TODO: init-param 是 servlet 范围有效的参数，在 servlet 类的 init() 方法中通过 servletConfig.getInitParameter(″contextConfigLocation″) 方法获得-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/minisMVC-servlet.xml</param-value>
        </init-param>

        <!--TODO: 它为正数的值越小优先级越高，会自动启动；如果为负数或未指定，会在 servlet 被调用时再初始化-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--TODO: 声明servlet的访问URL-->
    <servlet-mapping>
        <servlet-name>minisMVC</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>